@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body,
#root {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

.video {
  background-image: url("./assets/video.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}
.deverse {
  position: relative;
}

.deverse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  /* border: 2px solid red; */
  border-radius: 0;
  box-sizing: border-box;
  z-index: 10;
  max-width: 100%;
}

.deverse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;

  height: 100%;
  background-image: url("./assets/bgDeiverse.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  max-width: 100%;
}
.deverseR {
  position: relative;
}

.deverseR::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  /* border: 2px solid red; */
  border-radius: 0;
  box-sizing: border-box;
  z-index: 10;
  max-width: 100%;
}

.deverseR::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;

  background-image: url("./assets/bgDeiverse.png");
  transform: scaleX(-1);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  max-width: 100%;
}
.hero {
  background-image: url("./assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.input-field {
  color: black; /* Normal text color */
}

.input-field::placeholder {
  color: #b6b6b6; /* Placeholder text color */
}

@media (max-width: 768px) {
  .founder {
    border: "1px solid red";
  }
  .deverse::before {
    width: 100%;
  }

  .deverse::after {
    width: 100%;
    background-size: 100% 100%;
  }

  .deverseR::before {
    width: 100%;
  }

  .deverseR::after {
    width: 180%;
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 150px) and (max-width: 1380px) {
  .founder {
    border: "1px solid red";
  }
  .deverseR::after {
    width: 95%;
    background-size: 100% 100%;
  }
  .deverse::after {
    width: 95%;
    background-size: 100% 100%;
  }
}
.third {
  background-image: url("./assets/worker.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

@media (max-width: 768px) {
  .third {
    background-position: right;
  }
}
