@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("./assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}


.input-field {
  color: black; /* Normal text color */
}

.input-field::placeholder {
  color: #B6B6B6; /* Placeholder text color */
}